.message {
  white-space: pre-line;
  grid-area: message;
  display: inline-block;
  position: relative;
  padding: 6px;
  background-color: yellow;
  border: 2px #fff solid;
  box-sizing: border-box;
  border-radius: 6px;
  margin: 6px;
  font-size: 16px;
  font-family: "Helvetica Neue", Arial, sans-serif;
  width: 100%;
  line-height: 1.375;
  font-weight: normal;
  word-break: normal;
}
.chatHistory {
  height: 300px;
  width: 100%;
}
